.nav-links{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    background: #fff;
    width: 250px;
    overflow: hidden;
    transition: width 0.3s linear;
    box-shadow: 20px 10px 15px rgba(0, 0, 0, 0.1);
}

.nav-links.collapsed{
    width: 80px;
}
.nav-links.collapsed .logo img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    background-color: rgba(77, 181, 255, 0.4);;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
    /* margin: 0 0 0 10px; */
}

.logo img{
    width: 45px;
    height: 40px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-links a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 17px;
    display: table;
    width: 100%;
    padding: 15px;
}

.icon-nav{
    position: relative;
    width: 40px;
    height: 20px;
    /* top: 4px; */
    font-size: 30px;
    text-align: center;
}

.nav-item{
    position: relative;
    /* top: 12px; */
    margin-left: 10px;
}

li a:hover{
    background-color: #eee;
    color: rgb(77, 181, 255);
    padding: 23px;
    font-weight: bold;
    font-size: 15px;
    
}

.nav-links.collapsed:hover{
    width: 100px;
    transition: all 0.5s ease;
}
@media screen and (max-width: 768px) {
    .nav-links {
      width: 170px;
    }
    .nav-links:hover {
      width: 200px;
      transition: all 0.5s ease;
    }
    .logo img {
      width: 45px;
      height: 40px;
      border-radius: 50%;
    }
    /* .nav-item{
        display: none;
    } */
  }